$outline-gaban: 'Gaban', -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;

$solid-tabardo: 'Tabardo', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', sans-serif;

$solid-fredoka: 'Fredoka', sans-serif;
