%layer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box {
  position: relative;
  width: 135px;
  height: 135px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transform: scale(0.3);
  opacity: 0;
}

.fg {
  @extend %layer;
  background-color: #fff;

  img {
    height: 65px;
  }
}

.overlay {
  @extend %layer;
  border-radius: 50%;
  background-color: var(--theme);
}

.text {
  @extend %layer;
  opacity: 0;
  background-color: transparent;
  text-transform: capitalize;
  color: #fff;
}
