@use 'assets/scss/mixins/font';

.tech-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 24px;
  padding: 36px 35px 60px;
}

.heading {
  align-self: flex-end;
  color: #fff;
  @include font.heading-solid;
}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.boxes-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  flex-wrap: wrap;
  gap: 18px;
}

.box {
  width: 135px;
  height: 135px;
  background-color: teal;
  border-radius: 12px;
}

.bg {
  background-color: #333;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
}
