.tech-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 24px;
}

.heading {
  align-self: flex-end;
  font-size: 56px;
  color: #fff;
}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.boxes-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  gap: 18px;
}

.box {
  width: 135px;
  height: 135px;
  background-color: teal;
  border-radius: 12px;
}