@use 'assets/scss/mixins/responsive';

.story-block-pdp {
  position: sticky;
  top: 0;
  background-color: #e7f7ff;
  height: 100%;
  will-change: transform, visibility, opacity;
  text-align: center;

  @include responsive.desktop {
    max-height: 100vh;
    text-align: left;
  }

  h2 {
    @include responsive.desktop {
      margin: 24px 0;
    }
  }
}
