.block {
  --vscode-bg-dark: #181818;
  --vscode-bg-dark-2: #1f1f1f;
  --sidebar-width: 50px;
  background-color: var(--vscode-bg-dark);
}

.sidebar {
  display: inline-block;
  vertical-align: top;
  position: sticky;
  top: 0;
  width: var(--sidebar-width);
  height: 100vh;
  padding: 8px;

  .nav {
    padding: 8px;
    img {
      width: 24px;
      height: 24px;
    }
  }
}

.title {
  width: 100%;
  background-color: var(--vscode-bg-dark-2);
  color: rgb(157, 157, 157);
  padding: 4px;
  border-bottom: 1px solid rgb(43, 43, 43);
}

.editor {
  display: inline-block;
  position: relative;
  background-color: var(--vscode-bg-dark-2);
  width: calc(100vw - var(--sidebar-width));
  border-left: 1px solid rgb(43, 43, 43);
}

.file-panel-container {
  top: 0;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  position: sticky;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  width: 100%;
  background-color: var(--vscode-bg-dark);
  z-index: 2;

  .file-panel {
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: var(--vscode-bg-dark);
    color: rgb(157, 157, 157);
    height: auto;
    padding: 16px;
    flex: 1 0 auto;
    border-right: 1px solid rgb(43, 43, 43);
    border-bottom: 1px solid rgb(43, 43, 43);

    .ext-logo {
      width: 14px;
    }

    .btn-close {
      margin-left: 4px;
    }
  }
}
