  .preview {
    --preview-width: 325px;
    display: flex;
    position: relative;
    width: var(--preview-width);
    margin: 0 auto;
    min-height: 4551px;

    img {
      width: var(--preview-width);
      padding-top: var(--padding-top);
    }
  }

  .overlay {
    --transparent-layer-height: 576px;
    --bg-color: #333;
    --bg-stop: calc(50% - var(--transparent-layer-height) / 2);

    position: sticky;
    top: 0;
    margin-left: calc(-1 * var(--preview-width));
    width: var(--preview-width);
    z-index: 1;
    height: 100vh;
    display: grid;
    place-content: center;
    background: linear-gradient(
        to bottom,
        var(--bg-color) var(--bg-stop),
        transparent var(--bg-stop)
      ),
      linear-gradient(
        to top,
        var(--bg-color) var(--bg-stop),
        transparent var(--bg-stop)
      );

    div {
      border-radius: 12px;
      width: var(--preview-width);
      height: var(--transparent-layer-height);
      box-shadow: 0 0 0 0.5em #333;
    }
  }