@use 'assets/scss/variables/_colors.scss';

.sticky-article {
  position: sticky;
  top: 145px;
  color: colors.$dark-2;
  p {
    font-weight: 500;
  }
}

.details {
  position: relative;
  min-height: 200px;
  article {
    position: absolute;
    top: 0;
    height: 150px;
    overflow: hidden;
    h4 {
      opacity: 0;
    }
    p {
      opacity: 0;
    }
  }
}