@use 'assets/scss/mixins/responsive';
@use 'assets/scss/mixins/font';
@use 'assets/scss/variables/colors';

.work-page {
  display: grid;
  grid-template-columns: minmax(100%, 100%);
  grid-template-areas:
    'page-gap'
    'tech'
    'review-revamp'
    'review-revamp-story'
    'pdp-revamp-preview'
    'pdp-revamp-story'
    'pdp-secondary';
  text-align: center;
  @include responsive.desktop {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas:
      'page-gap tech'
      'review-revamp review-revamp-story'
      'pdp-revamp-preview pdp-revamp-story'
      'pdp-secondary pdp-revamp-story';
  }
}

section.tech {
  grid-area: tech;
}

section.page-gap {
  grid-area: page-gap;
  height: 80vh;
  background: #fff;

  @include responsive.desktop {
    height: 100vh;
  }
}

section.pdp-revamp-preview {
  grid-area: pdp-revamp-preview;
}

section.pdp-secondary {
  grid-area: pdp-secondary;
}

section.pdp-revamp-story {
  grid-area: pdp-revamp-story;
}

section.review-revamp-story {
  grid-area: review-revamp-story;
}

section.review-revamp {
  grid-area: review-revamp;
}
