.btn-outline {
  --color: #fff;
  position: relative;
  padding: 16px 24px;
  border-radius: 12px;
  transition: all 0.3s ease;

  border: 2px solid var(--color);
  background-color: transparent;
  color: var(--color);
  font-size: 16px;

  &:hover {
    transition: 0.5s;
    background-color: var(--color);
    mix-blend-mode: screen;
    color: #000;
  }
}
