.work-page {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-areas:
    'page-gap tech'
    'pdp-revamp-guide pdp-revamp'
    'pdp-revamp-guide pdp-secondary'
    'review-revamp-guide review-revamp';

  section {
    padding: 24px;
    color: rgba(73, 73, 73, 0.84);
    h2 {
      font-size: 40px;
      margin: 24px auto;
    }
    h3 {
      font-size: 32px;
      margin: 24px auto;
    }
    h4 {
      font-size: 24px;
      margin: 16px auto;
    }
    p {
      font-weight: 500;
      font-size: 18px;
      padding-right: 30%;
    }
  }
}

.tech {
  grid-area: tech;
}

.page-gap {
  grid-area: page-gap;
  height: 100vh;
}

section.pdp-revamp {
  grid-area: pdp-revamp;
  position: relative;
  padding: 0 48px;

}

section.pdp-secondary {
  grid-area: pdp-secondary;
  z-index: 2;
  bottom: 0;
}

section.pdp-revamp-guide {
  grid-area: pdp-revamp-guide;
  background-color: #e7f7ff;
}

section.review-revamp-guide {
  grid-area: review-revamp-guide;
  background-color: #f9b260;
}

section.review-revamp {
  grid-area: review-revamp;
}
